*.png
*.jpg
*.pdf
*.pptx
*.zip
*.rar
*.7z
/FA2018
/FInal_Exam
/Lectures
/Past_Exams
/Senior
/Spring2013
/Spring2015
/Spring2018assets
/Su18
/Test
*.ok
ok
*.bak
*.dat
*.dir
*.pyc
*.ok_history
*/__pycache__/*
